* {
  box-sizing: border-box;
}

body {
  background-color: #f4f2e7;
}

.wrapper {
  /* display: flex; */
  margin: 0 auto;
  width: 400px;
}

.hz-datepicker {
  border-spacing: 0;
  color: #787878;
  background: white;
  width: 100%;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
.hz-datepicker thead tr:first-child {
  background: #008080;
}
.hz-datepicker th {
  color: white;
  height: 64px;
}
.hz-datepicker td {
  text-align: center;
  vertical-align: middle;
  width: 52px;
  height: 52px;
  outline: none;
  
}
.hz-datepicker td.day:not(.grayed):not(.selected) {
  cursor: pointer;

  /* add classes to prevent selection */
  /* cursor: not-allowed;
  user-select: none; */
}
.hz-datepicker td.day:not(.grayed):not(.selected).cursor {
  background: #eee;
  border-radius: 50%;
  
}
.hz-datepicker td.grayed {
  color: #ccc;
  border-radius: 50%;
  /* cursor: not-allowed;
  user-select: none; */
}
.hz-datepicker td.selected {
  color: white;
  background: #008080;
  border-radius: 50%;
  outline: none;
}
.hz-datepicker td.today:not(.selected) {
  color: #008080;
  border: none;
}
.hz-datepicker .weekdays {
  color: #008080;
}
.hz-datepicker .chevron {
  cursor: pointer;
  user-select: none;
  font-size: 2.5em;
  margin-top: -0.1em;
  transition: color 0.2s ease-in-out;
}
.hz-datepicker .chevron:hover {
  color: #ccc;
}
